<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>이윤지님 채팅방</title>
</head>
<body id="chat-screen">
<div class="status-bar">
    <div class="status-bar__column">
        <span>No Service</span>
        <i class="fas fa-wifi"></i>
    </div>
    <div class="status-bar__column">
        <span>18:43</span>
    </div>
    <div class="status-bar__column">
        <span>85%</span>
        <i class="fas fa-battery-full"></i>
        <i class="fas fa-bolt"></i>
    </div>
</div>

<header class="alt-header">
    <div class="alt-header__column">
        <a href="chats.html">
            <i class="fas fa-angle-left fa-3x"></i>
        </a>
    </div>
    <div class="alt-header__column">
        <h1 class="alt-header__title">이윤지</h1>
    </div>
    <div class="alt-header__column">
        <span><i class="fas fa-search fa-lg glass"></i></span>
        <span><i class="fas fa-bars fa-lg"></i></span>
    </div>
</header>

<main class="main-screen main-chat">
    <div class="chat__timestamp">Wednesday, April 20, 2022</div>

    <div class="message-row message-row--own">
        <div class="message-row__content">
            <div class="message__info">
            <span class="message__bubble"
            >Q1. 자기소개해주세요.</span
            >
                <span class="message__time">14:11</span>
            </div>
        </div>
    </div>
    <div class="message-row">
        <img src="static/emoji/lyj.png"/>
        <div class="message-row__content">
            <span class="message_author">이윤지</span>
            <div class="message__info">
                <span class="message__bubble">안녕하세요 내일배움캠프에 참여하게 된 이윤지입니다.<br></br>
    코딩에 관해서 아는 것이 많이 없는 왕초보이지만 이 캠프를 통해서 개발자에 한걸음 더 다가서길 기대하고있습니다.<br></br>
    저는 집에서 하는 모든 걸 좋아하는 집순이 입니다.
    유일하게 하는 운동은 숨쉬기 입니다.앞으로 많은 분들과 알아가고 배워나갈 수 있으면 좋겠습니다.감사합니다. </span>
                <span class="message__time">14:11</span>
            </div>
        </div>
    </div>
    <div class="message-row message-row--own">
        <div class="message-row__content">
            <div class="message__info">
            <span class="message__bubble"
            >Q2. MBTI가 어떻게 되시나요?</span
            >
                <span class="message__time">14:11</span>
            </div>
        </div>
    </div>

    <div class="message-row">
        <img src="static/emoji/lyj.png"/>
        <div class="message-row__content">
            <span class="message_author">이윤지</span>
            <div class="message__info">
                <span class="message__bubble">ISFJ입니다.</span>
                <span class="message__time">14:11</span>
            </div>
        </div>
    </div>
    <div class="message-row message-row--own">
        <div class="message-row__content">
            <div class="message__info">
            <span class="message__bubble"
            >Q3. 객관적으로 살펴본 자신의 장점은?</span
            >
                <span class="message__time">14:11</span>
            </div>
        </div>
    </div>

    <div class="message-row">
        <img src="static/emoji/lyj.png"/>
        <div class="message-row__content">
            <span class="message_author">이윤지</span>
            <div class="message__info">
                <span class="message__bubble">1. 약속한 시간은 잘 지키는 편입니다.<br></br>2. 소소한걸 잘 챙겨주는 편입니다.</span>
                <span class="message__time">14:11</span>
            </div>
        </div>
    </div>
    <div class="message-row message-row--own">
        <div class="message-row__content">
            <div class="message__info">
            <span class="message__bubble"
            >Q4. 협업을 할때 윤지님의 스타일은 어떠신가요?</span
            >
                <span class="message__time">14:11</span>
            </div>
        </div>
    </div>
    <div class="message-row">
        <img src="static/emoji/lyj.png"/>
        <div class="message-row__content">
            <span class="message_author">이윤지</span>
            <div class="message__info">
                <span class="message__bubble">저는 제 의견을 말할땐 말하지만 대체적으로 팀원들의 이야기를
많이 듣고 따르는 편입니다.<br></br>그리고 많은 의사소통을 통해서 많은 아이디어를 내는 걸 선호하는 편입니다.</span>
                <span class="message__time">14:11</span>
            </div>
        </div>
    </div>
</main>

<form class="reply">
    <div class="reply__column">
        <i class="far fa-plus-square fa-lg"></i>
    </div>
    <div class="reply__column">
        <input type="text" placeholder="Write a message"/>
        <i class="far fa-smile-wink fa-lg"></i>
        <button>
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>

</form>
<script
        src="https://kit.fontawesome.com/a77969e492.js"
        crossorigin="anonymous"
></script>
</body>
</html>
